:root {
    --backgroundDarkColor: #1E1E1E;
    //--backgroundDarkColor2: #252525;
    --backgroundDarkColor2: #181818;
    --backgroundDarkColor3: #3131319d;
    --customColor1: #7abe5f;
    --customColor2: #17805d;  
  }